<header class="flex min-h-18 justify-between items-center bg-surface-950 border-b-2 border-[#a698d024]">
    <div class="px-5">
        <p-iconfield>
            <p-inputicon class="pi pi-search" />
            <input class="w-100" type="text" pSize="small" pInputText
                placeholder="Search for secrets, projects, environments..." />
        </p-iconfield>
    </div>
    <div class="flex gap-2 items-center px-4">
        <p-button variant="outlined" text="true" rounded="true" class="grid h-10 w-10 place-items-center">
            <i class="pi pi-bell text-lg"></i>
        </p-button>
        <umbral-user-profile></umbral-user-profile>
    </div>
</header>