<header class="flex h-18 justify-between outline-1 items-center bg-surface-800">
    <div class="px-5">
        <p-iconfield>
            <p-inputicon class="pi pi-search" />
            <input class="w-100" type="text" pSize="small" pInputText
                placeholder="Search for secrets, projects, environments..." />
        </p-iconfield>
    </div>
    <div class="flex gap-4 items-center px-4">
        <i class="pi pi-bell text-white" style="font-size: 1.4rem"></i>
        <p-button label="Adam Ayash" icon="pi pi-user" size="small" class="mr-2" />
    </div>
</header>