<aside class="h-screen w-64 border-r border-[#6d618b58] bg-surface-950">
    <div class="px-5 pb-10 pt-5">
        <img src="/images/logo/umbral-logo.png" alt="Umbral logo" />
    </div>
    <nav class="flex flex-col gap-2 px-4">
        <a routerLink="/dashboard" routerLinkActive="border-[#A78BFA38] bg-[#8B5CF6]/15 text-[#C4B5FD]"
            [routerLinkActiveOptions]="{ exact: true }" class="
                flex h-11 items-center gap-3
                rounded-xl
                border border-transparent
                px-3
                text-sm font-semibold
                text-[#CBD5E1]
                transition
                hover:border-[#A78BFA1F]
                hover:bg-[#0B1020]/70
                hover:text-[#F8FAFC]
            ">
            <i class="pi pi-home text-lg"></i>
            <span>Dashboard</span>
        </a>

        <a routerLink="/projects" routerLinkActive="border-[#A78BFA38] bg-[#8B5CF6]/15 text-[#C4B5FD]" class="
                flex h-11 items-center gap-3
                rounded-xl
                border border-transparent
                px-3
                text-sm font-semibold
                text-[#CBD5E1]
                transition
                hover:border-[#A78BFA1F]
                hover:bg-[#0B1020]/70
                hover:text-[#F8FAFC]
            ">
            <i class="pi pi-folder text-lg"></i>
            <span>Projects</span>
        </a>
    </nav>
</aside>