<header class="h-15 flex items-center sticky outline-2 outline-indigo-950 z-1">
    <div>
        <img src="UmbralLogo.png">
    </div>
    <div class="ml-auto">
        <i class="pt-2 mr-4 pi pi-bell" style="font-size: 1.4rem"></i>
    </div>
    <div>
        <p-button icon="pi pi-user" size="small" class="mr-4" />
    </div>
</header>
<aside class=" flex flex-col fixed h-screen w-55 pt-5 bg-slate-950 outline-2 outline-indigo-950 items-center">
    <div class="nav-item flex flex-row w-full items-center justify-center">
        <i class="p-3 pi pi-home"></i>
        <a class="flex flex-row" href="">Dashboard</a>
    </div>
</aside>