<header class="h-15 flex items-center sticky outline-2 outline-indigo-950 z-1">
    <div>
        <p-avatar image="https://www.gravatar.com/avatar/05dfd4b41340d09cae045235eb0893c3?d=mp" size="large" />
    </div>
    <div class="ml-auto">
        <i class="pt-2 mr-3 pi pi-bell" style="font-size: 1.4rem"></i>
    </div>
    <div>
        <p-button icon="pi pi-user" class="mr-4" size="small" />
    </div>
</header>
<aside class="flex flex-col fixed h-screen w-55 pt-5 bg-slate-950 outline-2 outline-indigo-950 items-center">
    <div class="nav-item">
        <a class="flex flex-row text-gray-350 items-center" href="">
            <div class="ml-auto">
                <i class="pt-2 mr-3 pi pi-home" style="font-size: 1.1rem"></i>
            </div>
            Dashboard
        </a>
    </div>
</aside>