<input
  id="email"
  name="email"
  type="email"
  autocomplete="email"
  [placeholder]="this.interactor?.placeHolder"
  [value]="this.interactor?.textValue"
  [required]="this.interactor?.isRequired"
  (onChange)="this.interactor?.transferDataToInteractor()"
  [disabled]="this.interactor."
  ="h-12 w-full rounded-xl border border-[#A78BFA2E] bg-[#0B1020]/70 pr-4 pl-11 text-sm text-surface-50 outline-none transition placeholder:text-[#64748B] focus:border-[#8B5CF6] focus:ring-2 focus:ring-[#8B5CF6]/20"
/>
