<section class="mx-auto w-full max-w-screen-2xl">
  <header class="flex flex-col gap-5 sm:flex-row sm:items-end sm:justify-between">
    <umbral-page-titles [pageReference]="this"></umbral-page-titles>

    <umbral-action-button buttonText="New project"> </umbral-action-button>
  </header>

  <div class="mt-7 grid grid-cols-1 gap-4 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4">
    @for (project of projects(); track project.id) {
      <umbral-project-card
        (projectCardClicked)="onProjectCardClicked(project)"
        [project]="project"
      ></umbral-project-card>
    }
  </div>
</section>
<router-outlet></router-outlet>
